<div class="container mt-5">
    <div class='row'>
        <div class='col-12'>
            <h1 class='welcome mb-0'>Welcome to Club Equipment Manager</h1>
            <h2 class='sub-header mt-0'>To help you keep track of which member has what Equipment.</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h1 class='get-started'>Get Started</h1>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-4 text-right'>
            <div>
                <img class="hockeysticks" alt="Kendo UI for Angular Logo" src="../assets/img/hockeysticks.png">
            </div>
        </div>
        <div class='col-4 components-list'>
            <p>
                <img src='../assets/img/components.png' alt='components' />
                <a href='https://www.telerik.com/kendo-angular-ui/components/'>Clubs</a>
            </p>
            <p>
                <img src='../assets/img/styles.png' alt='styles' />
                <a href='https://www.telerik.com/kendo-angular-ui/components/styling/theme-default/'>Members</a>
            </p>
            <p>
                <img src='../assets/img/blogs.png' alt='blogs' />
                <a href='https://www.telerik.com/blogs/tag/kendo-ui-for-angular/'>Equipment</a>
            </p>
        </div>
    </div>
</div>